
<div  style="display: flex;">
    <input type="file" (change)="importCSVFile($event)" [accept]="'.csv'" />
</div>

<main>

    <div id="items">

        <p><mat-checkbox   (click)="showCategorizedToogle()">Mostrar apenas não categorizados</mat-checkbox></p>

        <div *ngFor="let record of records">
            <div class="row"  *ngIf="!showNonCategorized || !record.category">
                <p>{{record.date | date:'dd/MM/yyyy'}}</p>
                <p>{{record.description}}</p>
                <p>{{record.value}}</p>

                <div>
                    <button mat-button [matMenuTriggerFor]="menu">{{record?.category?.name || '-' }} </button>
                    <mat-menu #menu="matMenu" class="category-bg">
                        <button mat-menu-item *ngFor="let model of eventualModel" (click)="categoryChanged(model, record)"  [class.category-selected] = "record?.category?.id == model.id">{{model.name}}</button>
                    </mat-menu>
                </div>
            </div>
                
        </div>

    </div>

    <div id="categories">

        <ul>
            <li *ngFor="let category of eventualModel">
                <h1>{{category.name}}</h1>
                <mat-form-field class="tags-chip-list">
                    <mat-chip-grid #chipGrid>
                      <mat-chip-row *ngFor="let tag of category.tags"
                                    (removed)="removeTag(tag)"
                                    [editable]="true"
                                    (edited)="editTag(tag, $event)">
                        {{tag}}
                        <button matChipRemove [attr.aria-label]="'remove ' + tag">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      <input [matChipInputFor]="chipGrid"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlurTags"
                             (matChipInputTokenEnd)="addTag(category, $event)"/>
                    </mat-chip-grid>
                  </mat-form-field>
            </li>

            <li>
                <div class="category-new-row">
                    <input type="text" placeholder="nova categoria"  [(ngModel)]="newCategoryValue" />
                    <button (click)="newCategoryClicked()" >salvar</button>
                </div>
            </li>
        </ul>

    </div>

</main>



<router-outlet></router-outlet>
